.DS_Store
.idea/
.vscode/
*.aux
*.auxlock
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.loa
*.log
*.nav
*.out
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.lof
*.lot
*.vrb
*.xdv
missfont.log
*.pdf
!docs/sample.pdf
截屏*.png
屏幕截图*.png
Screenshot*.png
